@import 'colors.scss';
@import 'fonts.scss';

body {
  margin: 0;
  background-color: $white;
  padding: 0;
  line-height: 1.4;
  color: $black;
  font-family: $font-family;
  font-size: $font-size-regular;
  background: url('/lines.png') no-repeat;
  background-size: cover;
}

.container {
  margin: 0 24px 40px;
}

.device {
  margin: 0 20px 40px;
  background: url('/device.png') no-repeat;
  background-position: center center;
  background-size: contain;
  width: calc(100% - 40px);
  height: 290px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

@media only screen and (min-width: 1024px) {
  .wrapper {
    flex-direction: row;

    > div {
      width: 50%;
    }
  }

  .content-container {
    display: flex;
    justify-content: flex-end;
  }

  .device {
    margin: 170px -40% 0 0;
    background-position: top;
    width: 140%;
    height: 100%;
    max-height: 70%;
  }
}

.u-overflow-hidden {
  overflow: hidden;
}

a {
  transition: opacity 0.15s ease-in-out;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    opacity: 0.6;
  }
}
