$black: #191a1b;
$gray-light: #f2f2f2;
$gray: #888888;
$green: #00d6b0;
$pink-light: #ff8a98;
$white: #ffffff;
$orange: #ff8a00;
$pink: #df85ff;
$purple: #c883ff;

$highlight-primary: $pink;
$highlight-secondary: $gray-light;

$shadow: rgba(0, 0, 0, 0.45);
