$black: #191a1b;
$gray-light: #888888;
$gray: #443e41;
$green: #00d6b0;
$pink: #ec1076;
$pink-light: #ff8a98;
$white: #ffffff;

$highlight-primary: $pink;
$highlight-secondary: $pink-light;

$shadow: rgba(0, 0, 0, 0.45);
