@import "shared/colors.scss";
@import "shared/fonts.scss";

.platforms {
  &__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
  }

  &__platform {
    position: relative;

    & + .platforms__platform {
      margin-left: 38px;
    }
  }

  &__asterix {
    position: absolute;
    right: -10px;
    bottom: -10px;
    font-size: 20px;
  }

  &__notice {
    line-height: 1.5;
    color: $gray-light;
    font-size: $font-size-tiny;
  }
}
